

.job-application {
  font-family:Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 70px;
}


.job-application h2 {
  text-align: center;
  color: #333;
}



.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group input[type="text"]:focus,
.form-group textarea:focus {
  border-color: #0366D6;
}

.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 18px;
  color: white;
  background-color: #0366D6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #024ba0;
}
